@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 67% 94%;
    --foreground: 240 10% 3.9%;
    --card: 240 60% 97%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 60% 97%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 275 100% 25%;
    --primary-foreground: 240 67% 94%;
    --secondary: 240 30% 90%;
    --secondary-foreground: 275 100% 25%;
    --muted: 240 30% 90%;
    --muted-foreground: 240 5% 45%;
    --accent: 51 100% 50%;
    --accent-foreground: 275 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 30% 85%;
    --input: 240 30% 88%;
    --ring: 275 100% 25%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 240 60% 97%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 275 100% 25%;
    --sidebar-primary-foreground: 240 67% 94%;
    --sidebar-accent: 240 30% 90%;
    --sidebar-accent-foreground: 275 100% 25%;
    --sidebar-border: 240 30% 85%;
    --sidebar-ring: 275 100% 25%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 240 67% 94%;
    --primary-foreground: 275 100% 25%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 51 100% 50%;
    --accent-foreground: 275 100% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 67% 94%;
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 240 67% 94%;
    --sidebar-primary-foreground: 275 100% 25%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 240 67% 94%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
  }
}
